/* src/App.css */

.float-add-item .glyphicon {
	color: green;
	position: fixed;
	top: 93px;
	right: 50px;
	transform: scale(2.0);
	cursor: pointer;
}

.list-group-item.col-xs-12 {
	padding: 8px 5px;
}

.list-group-item .col-xs-1 ,
.list-group-item .col-xs-11 {
	padding: 0 5px;
}

.list-group-item .col-xs-1 .col-xs-6 {
	padding: 0 5px;
	text-align: center;
}

.update-item .glyphicon {
	color: blue;
	cursor: pointer;
}

.delete-item .glyphicon {
	color: red;
	cursor: pointer;
}
